h1 {
	text-align: center;
	font-family: sans-serif;
}

#streetview {
	height:400px;
}

#streetview img {
	max-width: 100%;
	box-shadow: 10px 10px 5px #888888;
}

#weather {
	height:400px;
	padding: 25px;
	max-width:100%;
	display: inline;

}
